# Compiled class files
*.class

# Log files
*.log
ecommerce.log

# Target directory
/target/
/out/

# Ignore frontend directory
/frontend/

# Ignore MongoDB-related folder
/mongod/

# IDE-specific files
/.idea/
/*.iml
/.vscode/
/*.swp

# Maven and Gradle directories
/.mvn/
/.mvnw
/.gradle/

# Environment variables
.env

# Node modules (if applicable)
/node_modules/

# JAR/WAR files
*.jar
*.war

# Other system files
.DS_Store
Thumbs.db
